<nav class="ab-breadcrumbs" aria-label="Breadcrumb">
  <ol class="ab-breadcrumbs-list">
    <li class="ab-breadcrumbs-item">
      <a href="/">{{ home_text }}</a>
      <span class="ab-breadcrumbs-sep" aria-hidden="true">
        <img width="14" height="14" class="ps-mobile-pages-arrow ab-breadcrumbs-arrow" src="https://files.easy-orders.net/1779102257818802313sx001.svg" alt="" loading="lazy" decoding="async" />


      </span>
    </li>
    {% for crumb in categories %}
      <li class="ab-breadcrumbs-item">
        <a href="/collections/{{ crumb.slug }}">{{ crumb.name }}</a>
        <span class="ab-breadcrumbs-sep" aria-hidden="true">
          <img width="14" height="14" class="ps-mobile-pages-arrow ab-breadcrumbs-arrow" src="https://files.easy-orders.net/1779102257818802313sx001.svg" alt="" loading="lazy" decoding="async" />


        </span>
      </li>
    {% endfor %}
    <li class="ab-breadcrumbs-item ab-breadcrumbs-current" aria-current="page">
      {{ product_name }}
    </li>
  </ol>
</nav>
