<div class="ab-fake-visitor ps-sr-scope" data-min="{{ min }}" data-max="{{ max }}" data-anim="fadeInUp" data-seq="0">
  <span class="ab-fv-eye" aria-hidden="true"></span>
  <p class="ab-fv-text">
    <span class="ab-fv-count">{{ min }}</span>&nbsp;{{ watching_text }}
  </p>
</div>
