<div class="ab-fake-stock ps-sr-scope" data-anim="fadeInRight" data-seq="0">
  <p class="ab-fs-text">
    <img class="ab-fs-icon" src="https://files.easy-orders.net/1781174232751872737.webp" alt="" width="20" height="20" loading="lazy" decoding="async">
    <span class="ab-fs-copy">{{ text }}</span>
  </p>
  <div class="ab-fs-bar"><div class="ab-fs-fill"></div></div>
</div>
