<div class="ab-fake-visitor" data-min="{{ min }}" data-max="{{ max }}">
  <span class="ab-fv-eye" aria-hidden="true"></span>
  <p class="ab-fv-text">
    <span class="ab-fv-count">{{ min }}</span> {{ watching_text }}
  </p>
</div>
